*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#menu{
	text-align: center;
	width: 100%;
	border:1px solid #000;
	padding:20px 0; 
	background: #000;
}
#menu img{
	vertical-align: middle;
}
#menu a{
	color: #FFF; text-decoration: none;padding: 5px 40px; font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}
#menu a:hover{
	border-bottom: 2px solid #FFF;
}
#cabecera{
background-image:url(../img/cena.jpg) ;
background-repeat: no-repeat;
background-attachment: fixed;
width: 85%;
margin: 60px auto; 
padding-bottom: 200px;
}
#cabecera h3{
font-family:  'Quicksand', sans-serif;
font-size:18px;
position: relative;
color: #FFF;
text-align: center;
top: 360px;


}
#logo img{
	text-align: left;
	margin: 440px 0 0 40px;
	float: left;

}
h1{
	text-align:center;
	font-family: 'Staatliches', cursive;
	font-size: 90px;
	padding-top: 200px;
	letter-spacing: 4px;
	color: #FFF;
	position: relative;
}
h2{
	font-family: 'Mate SC', serif;
	text-align: center;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 20px;
}
.uno{
font-family: 'Quicksand', sans-serif;
width: 1615px; margin: 0 auto;
line-height: 1.4;
}

#contenedor{
	 width: 1600px; margin: 0 auto;
	 margin-top: 25px;
	 padding-left: 150px;
	 padding-right: 120px;
}
#influencia1{
	width: 400px;
	height: 230px;
	margin:0 20px;
	color: #000;
	position: relative;
	display: inline-block;
	border: 1px solid black;
	vertical-align: middle;
}
#contenedor p{
	font-family: 'Quicksand', sans-serif;
	line-height: 1.4;
	margin: 30px 25px;
	display: inline-block;
	vertical-align: middle;
}
#contenedor h3{
	font-size: 20px;
	font-family: 'Patua One', cursive;
	margin-left: 10px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
#influencia2{
	width: 400px;
	height: 230px;
	margin:0 20px;
	color: #000;
	position: relative;
	display: inline-block;
	border: 1px solid black;
	vertical-align: middle;
}
#influencia3{
	width: 602px;
	height: 330px;
	color: #000;
	display: block;
    margin-right:auto;
    margin-left: auto;
    padding-bottom: 15px;
	position: relative;
	border: 1px solid black;
	vertical-align: middle;
}
h4{
	color: #FFF;
	text-align: right;
	background-color:#FF5757;
	padding: 5px;
	letter-spacing: 2px;
	border-bottom: 1px solid black;
}
.imagen{

}
.dos{
font-family: 'Quicksand', sans-serif;
line-height: 1.4;
width: 1615px; margin: 20px auto;
}
#footer{
	background-color: #000; text-align: center; position: relative; 
	padding-top: 60px;
	padding-bottom: 60px;
}
#footer p{
    color:#FFF;
    font-size:18px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#footer img{
    position: absolute; right: 10px; top: 50%; margin-top:-8px;
}
#redes{
   position: fixed; right:0; top: 500px; width: 36px;
}