
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#menu{
	text-align: center;
	width: 100%;
	border:1px solid #000;
	padding:20px 0; 
	background: #000;
}
#menu img{
	vertical-align: middle;
}
#menu a{
	color: #FFF; text-decoration: none;padding: 5px 40px; font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}
#menu a:hover{
	border-bottom: 2px solid #FFF;
}

#cabecera{
background-image: url(../img/cabecera.jpg);
background-attachment: fixed;
padding-top: 100px;
padding-bottom: 200px;
}
#logo img{
	text-align: left;
	margin-left:40px;
	float: left;
}
#logo h2{
font-family: 'Cinzel', serif;
font-size: 20px;
color: #FFF;
text-align:left;
padding: 15px;

}


h1{
	text-align:left;
	font-family: 'Staatliches', cursive;
	font-size: 80px;
	padding: 80px 40px 30px 40px;
	letter-spacing: 4px;
	color: #FFF;
	position: relative;
}

#cabecera h3{
font-family: 'Quicksand', sans-serif;
font-size:18px; top:20px;
position: relative;
color: #FFF;
padding:0 40px;

}
#cabecera a{
position: relative; color: #FFF; text-decoration: none; top:60px; left: 40px;
    border: 2px solid #5271FF;background: #5271FF;padding: 10px 40px; font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}
body{
	background:#171717;
}
#principal{
	margin-bottom: 50px;
}

#principal1{
	 width: 1600px; margin: 0 auto;
	 padding-left: 150px;
	 padding-right: 150px;

}
#principal2{
	 width: 1400px; margin: 0 auto;
	 padding-left: 150px;
	 padding-right: 150px;
}
#principal3{
	 width: 1480px; margin: 0 auto;
	 padding-left: 180px;
	 padding-right: 150px;
}
#principal3 h4{
display: inline-block;
padding: 25px 15px;
margin-bottom: 5px;
font-family: 'Mate SC', serif;
font-size: 40px;
text-align: center;
color: #FFF;
}
#uno img{
	margin: 20px;
	position: relative;
	display: inline-block;
	float: left;
}
#dos img{
	margin: 20px;
	position: relative;
	display: inline-block;
	float: right;
}
#tres img{
	margin: 20px;
	position: relative;
	display: inline-block;
}
#cuatro img{
	margin: 20px;
	position: relative;
	display: inline-block;
	float: right;
}
#cinco img{
	margin: 20px;
	position: relative;
	display: inline-block;
	float: right;
}
#seis img{
	margin: 20px;
	position: relative;
	display: inline-block;
}
#sipnosis{
	width: 45%;
	height: 300px;
	margin: 20px 0;
	color: #FFF;
	float: left;

}

h4{
display: inline-block;
padding: 25px 15px;
margin-bottom: 5px;
font-size: 18px;
font-family: 'Quicksand', sans-serif;
text-align: center;
color: #FFF;
}
h4 span{
	border: 1px solid #FFF;
	padding: 3px 15px;
}
#sipnosis p{
font-family: 'Quicksand', sans-serif;
font-size: 16px;
line-height: 1.4;
padding-left: 25px;
}
#trailer{
	margin:60px 40px;
	color: #FFF;
	position: relative;
}

#ficha{
	width: 45%;
	height: 300px;
	margin: 20px 0;
	margin-left: 20px;
	color: #FFF;
	float: right;
}
#ficha span{
padding: 5px 10px;
font-family: 'Quicksand', sans-serif;
font-size: 18px;
line-height: 1.4;
color:#5271FF ;
}
#ficha p{
padding: 5px 10px;
font-family: 'Quicksand', sans-serif;
font-size: 16px;
line-height: 1.4;
}
.uno{
display: inline-block;
padding: 50px 19px;
font-family: 'Quicksand', sans-serif;
font-size: 16px;
text-align:left;
color: #FFF;
line-height: 1.4;
vertical-align: top;
}

.dos{
display: inline-block;
padding: 50px 19px;
font-family: 'Quicksand', sans-serif;
font-size: 16px;
text-align: left;
color: #FFF;
line-height: 1.4;
}
h3{
display: inline-block;
font-family: 'Quicksand', sans-serif;
font-size: 15px;
padding: 0 80px;
text-align: left;
color: #FFF;
vertical-align: top;
word-spacing: 4px;
}

h3 #otro{
	border: 1px solid #FFF;
	padding: 3px 15px;
	margin-left: 8px;
}
h3 .otro{
	color: #5271FF;
}
#footer{
	background-color: #000; text-align: center; position: relative; 
	padding-top: 50px;
	padding-bottom: 50px;
}
#footer p{
    color:#FFF;
    font-size:18px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#footer img{
    position: absolute; right: 10px; top: 50%; margin-top:-8px;
}
#redes{
   position: fixed; right:0; top: 500px; width: 36px;
}


